
body
  margin 0
  font-family 'Finlandica', sans-serif
  margin-left 0px

.welcome-header
  font-size 3rem
  text-align left
  margin-left 50px
  font-family 'Finlandica', sans-serif
  padding-top 50px

.text
  font-size 1.5rem
  text-align left
  margin-left 50px
  font-family 'Finlandica', sans-serif