<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Website</title>

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap">

</head>

<body>
<h1 class="welcome-header">Welcome to Charles Z's personal website :)</h1>

<div class="text">
  <p>My <a href="https://www.linkedin.com/in/yuanhang-charles-zhang/">LinkedIn</a> profile.</p>
</div>

<p>This is some text styled with Google Fonts.</p>
</body>
</html>


<%-partial('partials/recent-posts')%>

<div id="paginator">
  <%-paginator()%>
</div>
